.google-home-nav{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.google-home-nav__profile-image{
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
    margin-right: 25px;
}

.google-home-nav__profile-image:hover{
    cursor: pointer;
    box-shadow: 0 0 0 3px #c0c0c0;
}

.google-home-nav__apps-icon{
    height: 18px;
    width: 18px;
    opacity: .55;
    padding: 0 30px 0 15px;
}

.google-home-nav__apps-icon:hover{
    opacity: 1;
    cursor: pointer;
    padding: 0 30px 0 15px;
}

.google-home-nav__profile-link{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    line-height: 24px;
    font-size: 13px;
    font-family: arial, sans-serif;
    padding-right: 15px;
}

.google-home-nav__profile-link:hover {
    text-decoration: underline;
}


.google-main-content__google-icon{
    display: flex;
    justify-content: center;
    margin-top: 84px;
}

.google-main-content__google-icon img{
    height: 160px;
    width: 272px;
}

.google-main-content__search{
    width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.google-main-content__search:hover{
}

.google-main-content__search-glass{
    padding-top: 12px;
    padding-left: 12px;
}

.google-main-content__search-input{
    width: 85%;
    font-size: 16px;
    font-family: arial, sans-serif;
    outline: 0;
    border: none;
}

.google-main-content__search-voice{
    height: 24px;
    width: 24px;
    padding: 10px;
}

.google-main-content__search-voice:hover{
    cursor: pointer;
}

.google-main-content-submit-btns{
    display: flex;
    justify-content: center;
}

.google-main-content-submit-btns__lucky, .google-main-content-submit-btns__search{
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    opacity: 0.7;
}

.google-main-content-submit-btns__lucky:hover, .google-main-content-submit-btns__search:hover{
    opacity: 1;
}

.google-main-content__service{
    display: flex;
    justify-content: center;
    line-height: 28px;
    font-size: 14px;
    font-family: arial,sans-serif;
}

.google-main-content__service-option{
    color: #1a0dab;
    padding-left: 3px;
    text-decoration: none;
    font-family: Roboto,HelveticaNeue,Arial,sans-serif;
}

.google-main-content__service-option:hover{
    text-decoration: underline;
}

footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    background: #f2f2f2;
    font-family: arial,sans-serif;
    margin-left: -8px;
}

.footer-links{
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
}

.footer-links a{
    color: #5f6368;
    text-decoration: none;
    padding: 13px;
}

.footer-links a:hover{
    text-decoration: underline;
}

.footer-links__country-row{
    border-bottom: 1px solid #e4e4e4;
    color: rgba(0,0,0,.54);
    padding-left: 27px;
}

.footer-links__info-row{
    padding-bottom: 35px;
}

.footer-links__info-row__left-side{
    float: left;
    margin-left: 15px;
    white-space: nowrap;
    font-size: 14px;
    margin-top: 10px;
}

.footer-links__info-row__right-side{
    float: right;
    margin-right: 30px;
    white-space: nowrap;
    font-size: 14px;
    margin-top: 10px;
}
